* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    text-align: center;
    padding-top: 30px;
}

.title {
    margin-bottom: 20px;
    font-size: 28px;
}

.game-container {
    width: 350px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.card {
    width: 80px;
    height: 80px;
    background: #3498db;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.4s;
}

.card.flip {
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    backface-visibility: hidden;
}

.front {
    background: white;
    transform: rotateY(180deg);
}

.back {
    background: #3498db;
    color: white;
}
